<div class="connection-status container" data-ng-controller="ConnectionController">

  <div class="alert alert-danger" 
    data-ng-show="!serverOnline || !clienteOnline || !apiOnline"
    data-ng-init="getConnStatus()">

    <strong translate>错误!</strong>

    <p data-ng-show="!apiOnline" translate>
      不能通过P2P网络连接到程序，请重新尝试连接：vpubd {{host}}:{{port}} 
    </p>

    <p data-ng-show="!serverOnline" translate>
      不能连接到服务器，正在重新连接... 
    </p>

    <p data-ng-show="!clienteOnline" translate>
      不能连接到网络。请检查！
    </p>

  </div>
</div>
